.thumbnail {
  margin-bottom: 20px;

  &:hover {
    cursor: pointer;
  }

  .thumbnail-paper {
    display: flex;
    align-items: center;
    min-height: 112px;
    max-height: 112px;
    padding: 0 8px;
    border: 1px solid rgba(0, 0, 0, .1);
      
    .thumbnail-img {
      min-width: 152px;
      width: 152px;
      height: 90px;
      margin-right: 12px;
      border-radius: 4px;
    }

    .thumbnail-info {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      .thumbnail-title {
        &::first-letter {
          text-transform: uppercase;
        }
      }
    }
  }
}
