.home {
  padding: 0 24px 0 40px;

  .search-container {
    padding-top: 40px;
    padding-bottom: 40px;

    .search-results {
      color: #777;
    }
  }

  .thumbnails-list-container {
    .thumbnails-list-wrapper {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media only screen and (max-width: 600px) {
  .home {
    padding: 0 20px;
  }
}

